@font-face {
  font-family: "montserratlight";
  src: font-url("montserrat-light-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratregular";
  src: font-url("montserrat-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratsemibold";
  src: font-url("montserrat-semibold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
